.browse-image-modal {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.browse-image-modal-image {
  max-width: 1254px;
  max-height: 800px;
}

.no-action-tag {
  cursor: default;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 5px;
  color: rgb(85, 85, 85);
  font-size: 15px;
  line-height: normal;
  text-align: center;
}

.browse-image-modal-description {
  display: flex;
  margin: 25px 25px 0;
}

.browse-image-modal-buttons-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.browse-image-modal-author-button {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
}
.browse-image-modal-create-date {
  margin-bottom: 25px;
  margin-left: 25px;
  font-weight: 600;
}

.browse-image-modal-button {
  box-sizing: content-box;
  margin-top: 0;
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(233, 233, 233);
  height: 40px;
  color: rgb(128, 128, 128);
  font-size: 16px;
}

.browse-image-modal-button:hover {
  transition: 0.34s;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
}

.no-padding-bottom {
  padding-bottom: 0;
}

.margin-right-10px {
  margin-right: 10px;
}
.browse-image-modal-author-button {
  opacity: inherit;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: rgb(243, 243, 243);
  width: 52px;
  height: 52px;
}

.browse-image-modal-author-title {
  opacity: inherit;
  box-sizing: border-box;
  padding: 8px;
  width: calc(100% - 35px);
  height: inherit;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
}

.width-50px {
  width: 50px;
}
