.add-image-button {
  position: fixed;
  top: 10px;
  left: calc(65% + 8px);
  box-sizing: content-box;
  margin-top: 0;
  margin-right: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0 20px;
  height: 48px;
  color: rgb(128, 128, 128);
  font-size: 16px;
}

.add-image-button:hover {
  transition: 0.34s;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
}
