.profile-settings-page {
  display: flex;
  justify-content: right;
  padding: 10px;
  padding-top: 180px;
  padding-right: calc(50% - 330px);
}

.settings-menu {
}

.settings-menu-item {
  transform: translate(1px, 0);
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  padding-right: 50px;
  font-weight: bold;
}

.red-color {
  color: rgb(240, 0, 0);
}

.settings-edit {
}

.settings-edit-item {
  cursor: pointer;
  margin: 15px;
}

.x {
  flex: 0 0 auto;
  border-radius: 5px;
}
